.chooseUs{
    padding: 120px 0px;
    background-color: #1192F8;
}
.chooseUs h1{
    color: #fff;
    font-size:50px;
    margin-bottom: 80px;
}
.choose-text h3{
    width:55%;
    line-height:35px;
    font-size:26px;
    color: #DEFF66;
}